<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online_Meeting_System</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <script>
        const room_id="<%= roomId %>";
        
    </script>
</head>
<body>
    
    <div class="main" >
        <div class="main__left" id="videoChatContainer">
            <div class="main__videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="main__controls">
                <div class="main__controls__block">
                    <div onclick="muteUnmute()" class="main__mute_button">
                        <i class="fa-solid fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="playStop()" class="main__video_button">
                        <i class="fa-solid fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>

                <div class="main__controls__block">
                    <div class="main__controls_button">
                        <i class="fas fa-shield-alt"></i>
                        <span>Security</span>
                    </div>
                    <div class="main__controls_button">
                        <i class="fas fa-user-friends"></i>
                        <span>Participants</span>
                    </div>
                    <div class="main__controls_button">
                        <i class="fas fa-comment-alt"></i>
                        <span>Chat</span>
                    </div>
                </div>
                <div class="main__controls__block">
                    <div class="main__controls_button">
                        <span style="color:red">Leave Meeting</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="main__right" id="chatContainer" style="flex:0.2">
            <div class="main__header">
                <h6 style="font-size: 30px; font-style: bold;">Chat</h6>
            </div>
            <div class="chat_window">
                <ul class="messages">
            

                </ul>
            </div>
            <div class="chatbox">
                <input id="chat_box"type="text" placeholder="Type Something">
            </div>
        </div>
    </div>
    
    <script src="script.js"></script>

</body>
</html>